@media (min-width: 768px) and (max-width: 1124px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }
    .navbar-brand {
        background-color: transparent!important;
        top:-10px!important;
        position: relative;
    }
    .navbar ul {
        width: 100vw;
        left:0px;
        position: absolute;
        
    }
     .navbar li {
        width: 100vw;
        left:0px;
        
    }
    label{
        left:-100px;
        position: relative;
    }
    .Team1 img{
    width: 40%;
    margin-left: 25vw;
    
}
    .img-responsive {
        max-width: 50%!important;
    }
    .Team1 img{
    width: 60%;
    margin-left: 25vw!important;
    
}
.teamh5 {
    font-size: 2vw;
    margin: 10px auto;
    color:black;
    white-space: nowrap;
}
.teamh5s {
    font-size: 2vw;
    margin: 10px auto;
    margin-left: -10%;
    color:black;
    white-space: nowrap;
}
.teamh52{
    color:aquamarine;
    font-size: 5vw;
    font-family:jaa;
}
.absolute{
    position: absolute;
    height: auto;
    width: 50%!important;
    top: 2%;
    left: 2%;
    -ms-transform: rotateX(-45deg) rotateY(90deg) rotateZ(45deg) scale(1.1);
    -moz-transform: rotateX(-45deg) rotateY(90deg) rotateZ(45deg) scale(1.1);
    -webkit-transform: rotateX(-45deg) rotateY(90deg) rotateZ(45deg) scale(1.1);
    transform: rotateX(-45deg) rotateY(90deg) rotateZ(45deg) scale(1);
    transition: transform .2s, opacity .2s;
    opacity: 0;
}

.Team1:hover .absolute{
     -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.1);
     -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.1);
     -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.1);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.1);
    opacity: 1;
}

.pop{
    background:#F8F8F8;
    color: #717171;
    font-size: 13px;
    height: auto;
    z-index:-8!important;
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 60vh!important;
    left: 0vw;
    opacity: 0;
   visibility: hidden;
    padding: 10px auto;
    transition: opacity 1s;
    background-color: black;
    
    
}

.pop p{
    padding: 10px;
    margin: 10px auto;
    font-size: 3vh;
    text-align: left;
    color:aquamarine;
    border:solid aquamarine 1px;
}
.pop:after{
    content:'';
    position:absolute;
    top:-5px; 
    width:6vw;
    height:6vw;
    border-bottom:5px solid black;
    border-right:5px solid black;
    background:#f8f8f8;
    left:52%;
    z-index: -10;
    margin-left:-8%!important;
    background-color: black;
    -moz-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
}
.Team1:hover .pop, .Team1:hover .pop2, .Team1:hover .pop3{
    opacity: 1;
    z-index: 9!important;
    visibility: visible;
}
.Team1 small{
    font-size: 2vw!important;
    color:white;
}
    iframe{
      height: 550px;
        width:100%;
        margin-bottom: -200px;
    }
    .headbtn{
  border: 2px solid black!important;
  color: black!important;
    border-radius: 10px;
  background-color: transparent;
        top:30vh!important;
}
    #about p{
        font-size: 2vw!important;
    }
    .panel-body{
        font-size: 2vw;
    }
    .visitor {
        
    }
}








body{
    overflow-x: hidden;
}

@font-face {
    font-family: jaa;
    src: url(../font-awesome/fonts/subtract/web/jaapokkisubtract-regular.woff);
    
}

.WholeBody {
    height: 100vh;
    width: 100vw;
    z-index: 999;
    position: relative;
}
.CoverSlides{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 99999;
    
}  

.rec1, .rec2 {
    position: absolute;
    width: 50%;
    height: 100vh;
    background-color: rgba(0,0,0,.95);
}
.rec2{
    right: 0px;
}
.spinner {
    position: fixed;
    width: 50px;
    height: 50px;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    margin: auto;
    
}
.inner {
    position: absolute;
    width: 40vw;
    height: 40vw;
    display: block;
    top:-30vh;
    left:-15vw;
    border-radius: 100%;
    border: 3px solid transparent;
    opacity: 1;
    box-sizing: border-box;
    
}
.symbolMobile {
    width: 20%;
    position: absolute;
    top:30vh;
    left:40vw;
    bottom: 0;
    right:0;
    opacity: 0;
}

.c1{
     top:-9.5vh;
    left:-15vw;
    border-bottom-color: black;
    border-right-color: black;
    border-left-color: black;
    border-top-color: aquamarine;
    animation: rotate 4s alternate infinite;
    
}
.c2{
    width: 35vw;
    height: 35vw;
    display: block;
    top:-8vh;
    left:-12.5vw;
   border-bottom-color: black;
    border-right-color: black;
    border-left-color: black;
    border-top-color: aquamarine;
    animation: rotate 3.5s alternate infinite;
    
}
.c3{
    width: 30vw;
    height: 30vw;
    display: block;
    top:-6.5vh;
    left:-10vw;
    border-bottom-color: black;
    border-right-color: black;
    border-left-color: black;
    border-top-color: aquamarine;
    animation: rotate 3s alternate infinite;
    
}
.c4{
    width: 25vw;
    height: 25vw;
    display: block;
    top:-5vh;
    left:-7.5vw;
   border-bottom-color: black;
    border-right-color: black;
    border-left-color: black;
    border-top-color: aquamarine;
    animation: rotate 2.5s alternate infinite;
    
}
.c5{
    width: 20vw;
    height: 20vw;
    display: block;
    top: -3.5vh;
    left:-5vw;
  border-bottom-color: black;
    border-right-color: black;
    border-left-color: black;
    border-top-color: aquamarine;
    animation: rotate 2s alternate infinite;
}
@keyframes rotate {
    from{transform: rotate(0deg)}
    to{transform: rotate(360deg)}
}


.Overlay{
    opacity: 1;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: ;
    left: 0;
    top:0px;
    right: 0;
    transition: all 3s;
}
.Overlay embed{
    width: 50vw;
    top:20vmin;
    left: 25vw;
    z-index: 1;
    position: absolute;
   
}

.Overlay.off{
  opacity: 0;
}
.intro span {
    font-family: jaa;
}
.panel-heading{ background-color: black!important; color:aquamarine!important; z-index: 99;position: relative;}
.panel-body{
    color:white;
    background-color: black;
    z-index: 99;position: relative;
}
.nav-tabs li{width: 120%; }
.nav-tabs a{white-space: nowrap;}
.tab-content{}
.headBrain{width: 100%; position: absolute; left:0px; top:-39vh; z-index: -1;}
.Team1 img{
    width: 60%;
    margin-left: 20vw;
    
}
.teamh5 {
    font-size: 2vw;
    margin: 10px auto;
    color:black;
    white-space: nowrap;
}
.teamh5s {
    font-size: 2vw;
    margin: 10px auto;
    margin-left: -10%;
    color:black;
    white-space: nowrap;
}
.teamh52{
    color:aquamarine;
    font-size: 5vw;
    font-family:jaa;
}
.absolute{
    position: absolute;
    height: auto;
    width: 100%;
    top: 2%;
    left: 2%;
    -ms-transform: rotateX(-45deg) rotateY(90deg) rotateZ(45deg) scale(1.1);
    -moz-transform: rotateX(-45deg) rotateY(90deg) rotateZ(45deg) scale(1.1);
    -webkit-transform: rotateX(-45deg) rotateY(90deg) rotateZ(45deg) scale(1.1);
    transform: rotateX(-45deg) rotateY(90deg) rotateZ(45deg) scale(1);
    transition: transform .2s, opacity .2s;
    opacity: 0;
}

.Team1:hover .absolute{
     -ms-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.1);
     -moz-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.1);
     -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.1);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) scale(1.1);
    opacity: 1;
}

.pop{
    background:#F8F8F8;
    color: #717171;
    font-size: 13px;
    height: auto;
    z-index:-8!important;
    letter-spacing: 1px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 30vh;
    left: 0vw;
    opacity: 0;
   visibility: hidden;
    padding: 10px auto;
    transition: opacity 1s;
    background-color: black;
    
    
}

.pop p{
    padding: 10px;
    margin: 10px auto;
    font-size: 3vh;
    text-align: left;
    color:aquamarine;
    border:solid aquamarine 1px;
}
.pop:after{
    content:'';
    position:absolute;
    top:-5px; 
    width:6vw;
    height:6vw;
    border-bottom:5px solid black;
    border-right:5px solid black;
    background:#f8f8f8;
    left:52%;
    margin-left:-10px;
    background-color: black;
    -moz-transform:rotate(-135deg);
    -webkit-transform:rotate(-135deg);
    transform:rotate(-135deg);
}
.Team1:hover .pop, .Team1:hover .pop2, .Team1:hover .pop3{
    opacity: 1;
    z-index: 9!important;
    visibility: visible;
}
.Team1 small{
    font-size: 3.5vw;
    color:white;
}
.smallwhites {
    font-family: jaa;
}
.whiteh2small{
    font-size: 5vw;
    width: 200%;
}

.white{
    color:aquamarine;
}

.form-control{
    background-color: #222;
    color:aquamarine;
}
.sr-icons{
    color: aquamarine;
}

.scene{
    position: absolute;
    top:0px;
    z-index: 0;
}

#layerLowest{
    position: absolute;
    left: -120px; 
    top:-140px;
    height: 200vh;
}

#layerLowest2{
    position: relative;
    left: -120px;
    top: -250px;
    opacity: .5;
    
}
#layerlow{
      position: relative;
    width:200vmin;
    height: 120vmin;
    left: -120px;
    top:200px;
    opacity: .3;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
     filter: blur(2px);
}
#layer1{
     position: relative;
    left:400px;
    width: 160vmin;
    opacity: .7;
     filter: blur( 1px);
}
#layer15{
     position: relative;
    left:-150px;
    top: 160px;
    width: 100vmin;
     filter: blur(.7px);
    opacity: .5;
}
#layer10{
     position: relative;
    left:-0px;
    top: 20px;
    width: 50vmin;
    filter: blur(1px);
}
#layer2{
    position: relative;
    width:150vmin;
    left: 0vmin

        
}
#layerup{
    position: relative;
    width: 300vmin;
    height: 100vh;
    left: -40%;
    top:200px!important;
    
}

.lead{ font-size: 4vw; color:white;}



.aqua{
    color:aquamarine;
    font-size: 5vw;
    padding-top: 2vh;
    white-space: nowrap;
}
.navbar-header img {
    width: 30vh;
}
body {
  width: 100%;
  height: 100%;
  font-family: "Quicksand";
  color: white;
  background-color: black;
    overflow-x: hidden;
}
html {
  width: 100%;
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Quicksand";
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
a {
  color: #42DCA3;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #1d9b6c;
}
.light {
  font-weight: 400;
}
.navbar-header button {
    color: aquamarine!important;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Quicksand";
  background-color: #222;
    height: 80px;
    width: 100%;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
    right:10px;
    height: 50px;
    width: 50px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
    background-color: #222;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
    text-align: center;
    width: 100%;
}
.navbar ul{
    width: 95.5vw!important;
}

.navbar-custom .nav li a:hover {
  background-color: aquamarine;
  outline: none;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: aquamarine;
    color: black;
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.intro {
  display: table;
  width: 100%;
  height: 100vh;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/mobilecross.png) no-repeat scroll;
  background-color: black;
    background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: 100% auto;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 10vw;
    font-family: jaa;
    color: white;
}
.intro .intro-body .intro-text {
  font-size: 18px;
    margin-left: -30px;
}
#contact h2{
   font-family: jaa; 
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }
}
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 200px;
  margin-top: 100px;
}
@media (min-width: 767px) {
  .content-section {
    padding-top: 250px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 250px;
  }
}
.btn {
  text-transform: uppercase;
  font-family: "Quicksand";
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 2px solid aquamarine;
  color: aquamarine;
    border-radius: 10px;
  background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
  border: 1px solid aquamarine;
  outline: none;
  color: black;
  background-color: #42DCA3;
}
ul.banner-social-buttons {
  margin-top: 0;
}
@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}
@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
    text-transform: uppercase;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
 
}
