.animation {
    position: absolute;
    z-index: 0;
    width: 100%;
    margin-top: 50px;
    
}

.imgAnimation{
    margin: 0px 0px auto;
}
#head, #subhead {
    transition: all 1s;
   
}
#head.fade-in, #subhead.fade-in {
   opacity: 1;
   
}

.absolute-animation{
    position: absolute;
    width: 100%;
    z-index: 1;
}

#playBtn{
    position: absolute;
    height: 80px;
    margin-top: 10px;
    width: 100%;
    z-index: 99;
   
}
.doctitle{
   
}
#restartBtn{
    position: relative;
       top: 10px;
    height: 80px;
    z-index: 99;
}

#cross {
    left:100px;
   top:-50px;
    
}
.crosstest {
    top:32vh;
    left: 10vw;
    font-size: 5vw;
    position: absolute;
}

.bapttest {
    top:32vh;
    left: 52vw;
    font-size: 5vw;
    position: absolute;
}
#equal, #equal2, #equal3{
     font-size: 2000%;
    color: white;
    opacity: 0;
    top:100px;
    text-align: center;
    transform: scale(0);
    
}

#equal-small{
    color: white;
    text-align: center;
}
#bapt {    
   
}

#grave {  
     left:100px;
}

#rock {
   left: 80px;
    top:-70px;
    width:40%;
 
}

#baptIn {
   

}

#resurec {
  margin-top: 30px; 
     left:100px;

}
#resurecGround {
  position:absolute;
     left:100px;

}
#resurecCloud {
  position:absolute;
    left:100px;
    margin-top: -300px;

}


#baptOut {

  
}


#growh2, #growp, #growbtn {
    
}

.smallAnimation .row{
    margin-bottom: 30px;
    
}
.smallAnimation #equal-small {
    margin-top: 10%;
}
.smallAnimation #resurecCloud{
    bottom:0px;
}

#salvacion {
    text-align: center;
    opacity: 0;
    top: -5vh;
    
}
#salvacion h1{
    font-size: 4vw;
    color:black;
}
#salvacion h2{
    font-size: 5vh;
    color:black;
}
#salvacion small{
    font-size: 4vh;
    color:#222;
}
