.nav {
  position: absolute;
    top: 0px;
    left: 48px;
    width: 10px!important;
    height: 100%;
}
.nav li {
    width: 150px;
    background-color: black;
    padding: 3.5px;
}
.nav li a{
    font-size: 12px!important;
    color: white!important;
}
.nav li:hover a{
    font-size: 12px!important;
    color: black!important;
}
.nav-tabs .active a{
    background-color: white!important;
    color:black!important;
    text-shadow: 1px 2px 1px rgba(0,0,0,0)!important;
    
}
.tab-content {
    position: absolute;
    top:0px;
    left: 200px;
    padding: 0px!important;
    margin: 0px;!important;
    background-color: none!important;
}
.tab-pane {
        background-image: none!important;
     padding: 0px!important;
    margin: 0px;!important;

}

@media (max-width: 1124px) {
  
    
}


