@import "../theme/colors.scss";

.about {
  .about-heading, h1 {
    color: white;
    font-size: 12em;
    opacity: 0.3;
    text-align: center;
    font-weight: 700;
  }
  .about-img {
    background: url("/images/about.jpg");
    background-position: center;
  }
  .block {
    height: 243px;
  }
  .about__text {
    display: flex; 
    justify-content: flex-end;
    flex-direction: column;
    h1 {
      font-size: 2.3em;
      text-align: left;
      opacity: 1;
      font-weight: 600;
      padding: 0.7em 0 0;
    }
    P {
      color: $sub-text;
      text-align: left;
      font-size: 1.5em;
      padding: 0.7em 0 0;

    }
  }

  .route-btn {
    h1 {
      font-size: 1.5em;
    }
    p {
      font-size: 1em;
    }
  }
  .about__me {
    p {
      font-size: .95em;
    }
  }
  .about__me, .about__experience{
    padding: 1.2em 2em;
    
    h1 {
        font-size: 1.3em;
        text-align: left;
        opacity: 1;
        font-weight: 600;
        padding: 0.7em 0;
    }
    p, span{
        color: $sub-text; 
    }
    .about__job {
      display: flex; 
      align-items: center; 
      justify-content: space-between;
      padding: 1em 0;
      font-size: 1em;
      .about__time {
        opacity: .5;
        padding: 0 1em;
      }

    }
    .divider {
      position: relative;
      display: flex;  
      height: 1px;   
      flex: 1;
      margin: 0 .3em;
      background-color: $sub-text;
    }
  }
}


@media (min-width: 810px) and (max-width: 1199px) {  

  
}

@media (max-width: 809px) {   
  .about-heading { 
    font-size: 6em!important;  
  }
  .about__job {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 1em 0;
    font-size: .9em!important;
    .about__time {
      opacity: .5;
      padding: 0 1em;
    }

  } 
}